* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.header{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
background: #a9e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
font-size: larger;
align-items: center;
text-align: center;
height: 12em;
width: 100%;
display: flex;
align-content: stretch;
justify-content: center;
flex-wrap: nowrap;
flex-direction: row;
}

#Pname{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 38px;
    letter-spacing: 3.4px;
    word-spacing: -2.2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

#afterSubmit{
    display: none;
}
#Dlink{
    border: none;
    padding-left: 1em;
    margin-top: 1em;
    width: 100%;
}